body {
  font-family: "Roboto", sans-serif;
}

.App {
  text-align: center;
}

.error {
  border: 3px solid red;
  color: red;
  padding: 5px;
}

.ok {
  border: 3px solid green;
  color: green;
  padding: 5px;
}
